#Put local vars here for the specific function
local os_commands=(
/usr/bin/chfn
/usr/bin/chsh
/bin/login
/bin/ls
/usr/bin/passwd
/bin/ps
/usr/bin/top
/bin/netstat
/sbin/ifconfig
/usr/bin/killall
/usr/bin/find
)
