#Put local vars here for the specific function
local os_commands=(
/usr/bin/chfn
/usr/bin/chsh
/usr/bin/login
/usr/bin/ls
/usr/bin/passwd
/usr/bin/ps
/usr/bin/top
/bin/netstat
/sbin/ifconfig
/usr/bin/killall
/usr/bin/find
)

# ubuntu always failed on check command
# /bin/pidof
