# -----------------------------
# Do or Not do log_analyzer setup
# -----------------------------
# Include "logwatch" + "goaccess"

# [ enable | disable ]
local this_script_status="disable"

# --------------------
# compile goaccess
# --------------------
# If this script is enabled, and want to install through compiling from source

# local compile_enable="no"
# local compile_goaccess_ver="1.7"
